@model ECommerceAppSparsh.Models.ProductViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="d-flex justify-content-between">
    <div>
        <h4>Are you sure you want to delete this product?</h4>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Index">Back to Products</a>

    </div>
</div>
<hr />

<div>
  
    <img src="@Model.ImageUrl" class="img-fluid mt-3" alt="Product Image" style="height:150px;object-fit:contain;" alt="...">

    <div class="row">
        <p class="mt-2"><b>Product</b> :  @Html.DisplayFor(model => model.ProductName)</p>
        <p><b>Price</b> :  $@Html.DisplayFor(model => model.Price)</p>
        <p><b>Description</b> :  @Html.DisplayFor(model => model.Description)</p>
        <p><b>Quantity</b> :  @Html.DisplayFor(model => model.Quantity)</p>
        <p><b>Rating</b> :  @Html.DisplayFor(model => model.Rating)</p>


    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <div class="d-flex ">
            <a><input type="submit" value="Delete" class="btn btn-danger mt-3" /></a>
            <a asp-action="index" class="btn btn-secondary m-3" >Cancel</a>
        </div>
         
    </form>
</div>
